{
  "extends": [
    "codex/ts"
  ],
  "settings": {
    "jsdoc": {
      "mode": "typescript"
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
     "@typescript-eslint/strict-boolean-expressions": "off",
     "@typescript-eslint/naming-convention": "off",
     "jsdoc/require-param-description": "off"
  }
}
